:root {
    --evt-header-font: '12px normal Arial';
    --evt-body-font: '12px normal Arial';
    --evt-color-white: #fff;
    --evt-color-black: #000000;
    --evt-color-primary: rgb(82, 146, 247);
    --evt-text-color-primary: #333;
    --evt-text-color-regular: #666;
    --evt-text-color-secondary: #999;
    --evt-box-shadow: 0 2px 12px 0 #0000001a;
    --evt-editor-bg-color: #fff;
    --evt-editor-text-color: #333;
    --evt-border-color: #e1e6eb;
    --evt-body-bg-color: #fff;
    --evt-stripe-color: #fafafa;
    --evt-placeholder-color: #cdd0dc;
    --evt-header-bg-color: #f8faff;
    --evt-body-bg-color: #fff;
    --evt-header-text-color: #1d2129;
    --evt-loading-icon-color: #4e5969;
    --evt-expand-icon-color: #4e5969;
    --evt-shrink-icon-color: #4e5969;
    --evt-error-tip-icon-color: red;
    --evt-cell-hover-icon-bg-color: #fff;
    --evt-cell-hover-icon-border-color: #dde0ea;
    --evt-scroller-color: #dee0e3;
    --evt-scroller-track-color: #fff;
    --evt-scroller-focus-color: #bbbec4;
    --evt-select-border-color: var(--evt-color-primary);
    --evt-select-area-color: rgba(82, 146, 247, 0.1);
    --evt-select-row-col-bg-color: transparent;
    --evt-autofill-point-border-color: #fff;
    --evt-edit-bg-color: #fcf6ed;
    --evt-checkbox-color: var(--evt-color-primary);
    --evt-readonly-color: #fff;
    --evt-readonly-text-color: #4e5969;
    --evt-error-tip-color: #ed3f14;
    --evt-footer-bg-color: #fafafa;
    --evt-highlight-hover-row-color: rgba(186, 203, 231, 0.1);
    --evt-highlight-selected-row-color: rgba(82, 146, 247, 0.1);
    --evt-tooltip-bg-color: #303133;
    --evt-tooltip-text-color: #fff;
    --evt-resize-row-line-color: #e1e6eb;
    --evt-resize-column-line-color: #e1e6eb;
}
.dark {
    --evt-border-color: #363637;
    --evt-header-bg-color: #141414;
    --evt-body-bg-color: #141414;
    --evt-header-text-color: #a3a6ad;
    --evt-scroller-color: #414243;
    --evt-scroller-track-color: #141414;
    --evt-scroller-focus-color: #a3a6ad;
    --evt-edit-bg-color: #141414;
    --evt-readonly-text-color: #cfd3dc;
    --evt-footer-bg-color: #262727;
    --evt-autofill-point-border-color: #fff;
    --evt-editor-bg-color: #434343;
    --evt-editor-text-color: #cfd3dc;
}
.e-virt-table-container {
    position: relative;
    outline: none;
}
.e-virt-table-stage {
    position: relative;
    overflow: hidden;
    outline: none;
    box-sizing: border-box;
    z-index: 10;
    border-radius: 8px;
    border: 1px solid var(--evt-border-color);
}
.e-virt-table-canvas {
    position: absolute;
    left: 0px;
    top: 0px;
    box-sizing: border-box;
    border: none;
    outline: none;
    z-index: 10;
}
.e-virt-table-editor {
    position: absolute;
    top: -10000px;
    left: -10000px;
    text-align: left;
    height: auto;
    line-height: 0;
    z-index: 100;
    overflow: hidden;
    background-color: var(--evt-editor-bg-color);
    border: 2px solid var(--evt-color-primary);
    box-sizing: border-box;
    box-shadow: var(--evt-box-shadow);
    display: flex;
    align-items: center;
}
.e-virt-table-overlayer {
    position: absolute;
    left: 0px;
    top: 0px;
    overflow: hidden;
    z-index: 100;
    pointer-events: none;
}
.e-virt-table-editor-textarea {
    width: 100%;
    box-sizing: border-box;
    outline: none;
    font-weight: 400;
    padding: 8px;
    font-size: 12px;
    color: inherit;
    white-space: pre-wrap;
    word-wrap: break-word;
    word-break: break-all;
    line-height: 1.5;
    margin: 0;
    border: none;
    vertical-align: middle;
    background: var(--evt-editor-bg-color);
    color: var(--evt-editor-text-color);
    overflow-y: auto;
    resize: none;
}
.e-virt-table-context-menu {
    /* display: none; */
    position: absolute;
    font-size: 14px;
    color: var(--evt-text-color-regular);
    background-color: var(--evt-color-white);
    border-radius: 4px;
    border: 1px solid #e4e7ed;
    box-shadow: var(--evt-box-shadow);
    width: fit-content;
    padding: 6px 0px;
    z-index: 9999;
    left: -99999px;
    top: -99999px;
}
.e-virt-table-context-menu-item {
    cursor: pointer;
    padding: 8px 24px;
    color: var(--evt-text-color-regular);
}
.e-virt-table-context-menu-item:hover {
    color: var(--evt-color-primary);
    background-color: #f5f7fa;
}
