:root {
    --e-virt-table-color-white: #fff;
    --e-virt-table-color-black: #000000;
    --e-virt-table-color-primary: rgb(82, 146, 247);
    --e-virt-table-text-color-primary: #333;
    --e-virt-table-text-color-regular: #666;
    --e-virt-table-text-color-secondary: #999;
    --e-virt-table-box-shadow: 0 2px 12px 0 #0000001a;
    --e-virt-table-editor-bg-color: #fff;
    --e-virt-table-border-color: #e1e6eb;
}
.e-virt-table-container {
    position: relative;
    outline: none;
}
.e-virt-table-stage {
    position: relative;
    overflow: hidden;
    outline: none;
    box-sizing: border-box;
    z-index: 10;
    border-radius: 8px;
    border: 1px solid var(--e-virt-table-border-color);
}
.e-virt-table-canvas {
    position: absolute;
    left: 0px;
    top: 0px;
    box-sizing: border-box;
    border: none;
    outline: none;
    z-index: 10;
}
.e-virt-table-editor {
    position: absolute;
    top: -10000px;
    left: -10000px;
    text-align: left;
    height: auto;
    line-height: 0;
    z-index: 100;
    overflow: hidden;
    background-color: var(--e-virt-table-editor-bg-color);
    border: 2px solid var(--e-virt-table-color-primary);
    box-sizing: border-box;
    box-shadow: var(--e-virt-table-box-shadow);
    display: flex;
    align-items: center;
}
.e-virt-table-overlayer {
    position: absolute;
    left: 0px;
    top: 0px;
    overflow: hidden;
    z-index: 100;
    pointer-events: none;
}
.e-virt-table-editor-textarea {
    width: 100%;
    box-sizing: border-box;
    outline: none;
    font-weight: 400;
    padding: 8px;
    font-size: 12px;
    color: inherit;
    white-space: pre-wrap;
    word-wrap: break-word;
    word-break: break-all;
    line-height: 1.5;
    margin: 0;
    border: none;
    vertical-align: middle;
    background: var(--e-virt-table-color-white);
    overflow-y: auto;
    resize: none;
}
.e-virt-table-context-menu {
    /* display: none; */
    position: absolute;
    font-size: 14px;
    color: var(--e-virt-table-text-color-regular);
    background-color: var(--e-virt-table-color-white);
    border-radius: 4px;
    border: 1px solid #e4e7ed;
    box-shadow: var(--e-virt-table-box-shadow);
    width: fit-content;
    padding: 6px 0px;
    z-index: 9999;
    left: -99999px;
    top: -99999px;
}
.e-virt-table-context-menu-item {
    cursor: pointer;
    padding: 8px 24px;
    color: var(--e-virt-table-text-color-regular);
}
.e-virt-table-context-menu-item:hover {
    color: var(--e-virt-table-color-primary);
    background-color: #f5f7fa;
}
