.e-virt-table-editor {
    position: absolute;
    top: -10000px;
    left: -10000px;
    text-align: left;
    line-height: 0;
    z-index: 100;
    overflow: hidden;
    background-color: #fff;
    border: 2px solid rgb(82, 146, 247);
    box-sizing: border-box;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 6px 16px;
    pointer-events: auto;
    display: flex;
    align-items: center;
}
.e-virt-table-context-menu{
    /* display: none; */
    position: absolute;
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
    width: fit-content;
    padding: 12px;
    z-index: 9999;
    left: -99999px;
    top: -99999px;
}
.e-virt-table-context-menu-item{
    cursor: pointer;
    padding: 4px 8px;
}
.e-virt-table-context-menu-item:hover{
    color: rgb(82, 146, 247);
}